<template>
	<date-time-component
		:input-class="'form-control'"
		:name="name"
		:value="value"
		:calendar-button="true"
		:bootstrap-styling="true"
		:format="'dd MMMM yyyy'"
	></date-time-component>
</template>

<script>
	const DateTimeComponent = () => import("vuejs-datepicker");

	export default {
		name: "DateInputComponent",
		props: {
			name:{
				type:String,
				required:true,
			},
			value:
			{
				type:String,
				required:false,
			}
		},
		components:{
			DateTimeComponent
		}
	}
</script>
