// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/brands';


.admin-image-handler
{
	text-align: center;
	max-width: 180px;
	max-height: 180px;
	margin: 0 auto;
	overflow: hidden;
}
.admin-image
{
	max-width: 100%;
}