<template>
	<div class="text-center">
		<a href="javascript:void(0)" data-toggle="modal" :data-target="dataTarget" class="review-btn">
			<slot>Оставить отзыв</slot>
		</a>
	</div>
</template>

<script>
	export default {
		name: "ModalBtn",
		props:{
			dataTarget:{
				type:String,
				required:true
			}
		}
	}
</script>

<style scoped>
	.review-btn:hover{
		text-decoration: none;
	}
</style>