<template>
	<div>
		<review-item
			:review="review"
			v-for="review in items.data"
			:key="review.id"
		>{{review}}</review-item>
	</div>
</template>

<script>
	export default {
		name: "ReviewsList",
		props:{
			items:{
				type:Object,
				required:true,
			}
		}
	}
</script>