<template>
	<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button @click="closeModal"
						type="button"
						class="close"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div v-if="!success">
						<div v-for="error in errors">
							<div class="alert alert-danger" v-for="message in error">{{message}}</div>
						</div>

						<div class="form-group">
							<label for="reviewName" class="col-form-label">Ваше имя <span class="text-danger">*</span></label>
							<input id="reviewName" class="form-control" v-model="form.name" required>
						</div>

						<div class="form-group">
							<label for="reviewEmail" class="col-form-label">Ваш email <span class="text-danger">*</span></label>
							<input id="reviewEmail" class="form-control" v-model="form.email" required>
						</div>

						<div class="form-group">
							<label for="reviewTextArea" class="col-form-label">Ваше сообщение <span class="text-danger">*</span></label>
							<textarea class="form-control" id="reviewTextArea" v-model="form.message" required rows="3"></textarea>
						</div>

						<div class="form-group">

							<label class="col-form-label">Ваше Фото</label>

							<file-picker
								class="file-picker"
								id="reviewFilePicker"
								@vfp-file-added="fileAdded"
							>
								<div slot="label">
									<strong>Выберите файл</strong> или перетащите его сюда
								</div>

							</file-picker>

							<div v-if="form.image && form.image.name">
								<label  class="col-form-label">Имя файла: {{form.image.name}}</label>
							</div>

						</div>
					</div>
					<div v-else>
						<div class="alert alert-success">
							Спасибо! Ваш отзыв появится в списке после модерации
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<div v-if="!success">
						<button
							@click="setPreviewMode"
							:disabled="!form.name || !form.email || !form.message"
							type="button"
							class="btn btn-primary mr-3"
							>Предпросмотр</button>
						<button type="button" class="btn btn-primary" @click="submit">Отправить</button>
					</div>
					<div v-else>
						<button @click="closeModal"
							type="button"
							class="btn btn-primary"
							aria-label="Close"
						>Закрыть</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>

<script>
	const FilePicker = () => import("vue-file-picker/src/filePicker.vue");

	function initState()
	{
		return {
			form:{
				name:"",
				email:"",
				message:"",
				image:false,
			},
			errors:[],
			success:false
		}
	}

	export default {
		name: "ReviewForm",
		data(){
			return initState()
		},
		props:{
			modalId:
			{
				type:String,
				required: true
			}
		},
		components: {
			FilePicker
		},
		methods: {
			fileAdded(files){

				this.$set(this.form, 'image', files[0]);
			},
			setPreviewMode(){

				this.closeModal();

				this.$emit('input',this.form);
			},
			closeModal(){

				$(this.modalId).modal('hide');

				setTimeout(this.resetData,500);
			},
			resetData(){

				if(this.success){
					Object.assign(this.$data, initState());
				}
			},
			async submit(){

				let formData = new FormData();

				formData.append("name", this.form.name);
				formData.append("email", this.form.email);
				formData.append("message", this.form.message);
				formData.append("image", this.form.image);

				try
				{
					let response = await window.axios.post('/reviews/', formData, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					});

					if(response.data.success)
					{
						this.success = true;
					}
				}
				catch( error )
				{
					if (error.response)
					{
						this.errors = error.response.data.errors;

						console.log(error.response);
					}
					else if (error.request)
					{
						console.log(error.request);
					}
					else
					{
						console.log('Error', error.message);
					}
				}
			}
		}
	}
</script>

<style type="text/css">
	.vfp.file-picker .vfp-bgArea{
		background: #fff;
	}
</style>