<template>
	<div class="review-preview">
		<div class="card-header">
			<div class="row">
				<span class="review-preview__title col-8">Вы находитесь в режиме предпросмотра</span>
				<div class="float-right btn btn-primary col-4" @click="exitPreviewMode()">Закрыть</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="card-body">
			<div>
				<review-item :review="review"></review-item>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "ReviewPreviewMode",
		data(){
			return {
				image:false
			}
		},
		props:{
			previewData:{
				type:Object,
				required:false
			},
			modalId:
			{
				type:String,
				required: true
			},
			defaultPhoto:
			{
				type:String,
				required: true
			}
		},
		methods:
		{
			exitPreviewMode()
			{
				this.$emit("input",false);
				$(this.modalId).modal('show');
			}
		},
		computed:
		{
			review()
			{
				return {
					name: this.previewData.name,
					message: this.previewData.message,
					image: this.image
				}
			}
		},
		mounted()
		{
			const acceptedImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/jpg'];

			if(this.previewData.image instanceof File && acceptedImageTypes.includes(this.previewData.image['type']))
			{
				let reader = new FileReader();

				reader.readAsDataURL(this.previewData.image);

				reader.onload = () => {
					this.image = reader.result;
				};

				reader.onerror = () => {
					console.log(reader.error);
				};
			}
			else
			{
				this.image = this.defaultPhoto;
			}
		}
	}
</script>

<style scoped>
	.review-preview__title
	{
		display: inline-block;
		height: 37px;
		line-height: 37px;
	}
	@media all and (max-width: 767px)
	{
		.review-preview__title{
			line-height: initial;
			font-size: small;
		}
	}
</style>