<template>
	<div>
		<div class="card mb-3">
			<div v-show="!previewData">
				<div class="card-body">

					<slot name="title"></slot>

					<review-list :items="items"></review-list>

				</div>
				<div class="card-footer bg-transparent">

					<modal-btn :data-target="modalId">
						<i class="fa fa-comment-dots text-gray text-secondary"></i> Оставить отзыв <i class="fa fa-angle-right"></i>
					</modal-btn>

					<review-form v-model="previewData" :modal-id="modalId"></review-form>

				</div>



			</div>

			<review-preview-mode
				v-if="previewData"
				:preview-data="previewData"
				:default-photo="defaultPhoto"
				:modal-id="modalId"
				v-model="previewData"
			></review-preview-mode>

		</div>

		<div v-show="!previewData">
			<slot name="links"></slot>
		</div>

	</div>
</template>

<script>
	export default {
		name: "ReviewsParent",
		data()
		{
			return {
				previewData:false,
				modalId:'#reviewModal',
			}
		},
		props: {
			items:{
				type:Object,
				required:true
			},
			defaultPhoto:
			{
				type:String,
				required: true
			}
		}
	}
</script>

<style scoped>

</style>