<template>
	<div class="review-item">
		<div class="row">
			<div class="col-md-2 col-4">
				<div class="review-item__image-block">
					<img class="review-item__image"
						 :src="review.image"
						 :alt="`Превью фото отзыва пользователя ${review.name}`"
					>
				</div>
			</div>
			<div class="col-md-10 col-8">
				<p class="review-item__user-name">
					{{review.name}}
				</p>
				<p class="review-item__text">
					{{review.message}}
				</p>
			</div>

		</div>
	</div>
</template>

<script>
	export default {
		name: "ReviewItem",
		props: {
			review: {
				type:Object,
				required:true,
			}
		}
	}
</script>

<style scoped type="text/css">
	.review-item
	{
		display: table;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
		padding-bottom: 35px;
		margin-bottom: 20px;
	}
	.review-item:last-child
	{
		border-bottom: 0;
		margin-bottom:-15px
	}
	.review-item__image-block
	{
		padding-bottom: 90%;
		position: relative;
	}
	.review-item__image
	{
		max-width: 100%;
		border-radius: 50%;
		min-height: 100%;
		position: absolute;
	}
	.review-item__user-name
	{
		color:#285473;
	}
	.review-item__text{
		word-break: break-word;
	}
</style>